*.DS_Store
.idea
/nbproject/private/
/nbproject/
/node_modules/
TODO
*.zip
test.html
*.log
bdd.php
*.JPG
dist/img/fournisseurs/leeuroioenldusgeisfJossurs566929214980-B971547323Z-1-20131205114200-000-GF11K35OV-1-0-jpg